
/* #region Defaiult Resets */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* #endregion Default Resets */

/* #region  Global Variables */
:root {
  --main-bg-color: rgb(255, 68, 34);
  --second-bg-color: #feecea;
  --footer-color: #141414;
  --main-font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  --main-line-height: 22.5px;
}

/* #endregion Global Variables */

body {
  border: 5px solid white;
  margin: 0;
}

* {
  box-sizing: border-box;
 
}

/* #region  Utility Classes */

/* #endregion Utility Classes */

/* #region  State Rules */

/* #endregion State Rules */

/* #region  Base Rules */

/* #endregion Base Rules */

/* #region  Layout Rules */

/* #endregion Layout Rules */

/* #region  Module Rules */

/* #region  Navbar */

header {
  height: 300px;
  position: relative;
  font-family: var(--main-font-family);
}

.logo_tablet {
  position: absolute;
  background-color: yellow;
  top: 0;
  left: 0;
  height: 52px;
}
.logo_tablet > img {
  height: 77px;
  width: 120px;
}

.logo_mobile {
  position: absolute;
  background-color: orange;
  top: 0x;
  left: 0;
}

.logo_mobile > img  {
  width: 63px;
  height: 37px;
}
 
a {
  text-decoration: none;
}

.black {
  display: flex;
  flex-direction: row;
  
  height: 32px;
  background-color: var(--footer-color);
  padding-left: 16px;
  font-size: 14px;
}

.black_left {
  background-color: var(--footer-color);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  width: 65%;
}
.black_center {
  width:  125px;
}
.black_right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--footer-color);
  width: 35%;
  text-align: center;
  align-items: center;
}

.black_left > a,
.black_right > a {
  color: white;
}

.white {
  display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    align-items: center;
    height: 48px;
    font-size: 16px;
}

.awb {
  color: black;
}

.yellow {
  background-color: yellow;
  font-size: 16px;
  height: 30px;
  padding-left: 36px;
}

/* #endregion Navbar */
main {
  height: 300px;
}

/* #region  Three Images */

/* #endregion Three Images */

/* #region  Latest News */

/* #endregion  Latest News */

/* #region  Middle Box */


/* #endregion Middle Box*/

/* #endregion Module Rules */

/* #region  Component Rules */



/* #endregion  Component Rules */

/* #region  Footer */
footer {
  color: whitesmoke;
  text-align: center;
  font-family: var(--main-font-family);
  }
 
 ul {
   list-style: none;
  }
 
 .social_icons {
   padding: 12px;
 }
 
 .social_icons i:hover {
   background-color: var(--footer-color);
   }
 .foot_menu {
  padding: 12px;
 }
 
 a {
  text-decoration: none;
  color: whitesmoke;
 }
 .footer_top {
   background-color: #0f0f0f;
   margin: 0 auto;
   padding: 20px 0;
   height: 155px;
   line-height: 2.5em;
 }
 
 .social,
 .menu_bottom {
   display: flex;
   flex-direction: row;
   justify-content: center;
   font-size: 20px;
  }
 
 .social_icons > i {
   background: #333;
   border-radius: 50%;
   display: block;
   height: 35px;
   padding: 10px;
   text-align: center;
   width: 35px;
   cursor: pointer;
   border: 1px solid #333;
 }
 .footer_bottom {
   padding: 48px;
   background-color: var(--footer-color);
   color: #aaa;
   font-size: 20px;
   text-align: center;
   
 }

 .image_svg {
  width: 58px;
  height: 21px;
 }

 b {
   color: rgb(163, 36, 36);
 }
 
 
/* #endregion  Footer */

/* #region  Media Queries */

@media only screen and (min-width: 1024px) {
  body {
    background-color: lightgreen;
  }
  .logo_tablet {
    display: none;
    visibility: hidden;
  }
  .logo_mobile {
    display: none;
    visibility: hidden;
  }
  .menu {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  body {
    background-color: pink;
  }
  .logo_mobile {
    visibility: hidden;
  }
  .black,
  .white {
    padding-left: 130px;
  }
  .black_right,
  .awb-1 {
    display: none;
  }
  .white {
    font-size: 14px;
  }
  .menu {
    visibility: hidden;
  }
  .menu_bottom {
    font-size: 13px;
  }
  .footer_bottom {
    font-size: 16px;
  }

}

@media only screen and (max-width: 320px) {
  body {
    background-color: lightblue;
  }
  .logo_tablet {
    display: none;
  }
  .logo_mobile {
    visibility: visible;
    top: 0;
  }
  
  .black,
  .awb {
    display: none;
  }
  .white {
    justify-content: space-evenly;
    height: 40px;
  }
  .menu {
    visibility: visible;
    color: red;
  }
  .yellow > a {
    font-size: 10px;
  }
   .social_icons {
   padding: 4px;
   }
   .rss {
     display: none;
   }
   .foot_menu {
     font-size: 13px;
     font-family: var(--main-font-family);
     padding: 7px;
   }
   
 .image_svg {
  width: 28px;
  height: 17px;
 }
}



/* #endregion */
