
/* #region Defaiult Resets */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* #endregion Default Resets */

/* #region  Global Variables */

:root {
  --main-bg-color: rgb(255, 68, 34);
  --second-bg-color: #feecea;
  --footer-color: #141414;
  --main-font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  --main-line-height: 22.5px;
}

/* #endregion Global Variables */

body {
  margin: 0;
}

* {
  box-sizing: border-box;
 }

/* #region  Utility Classes */

/* #endregion Utility Classes */

/* #region  State Rules */

/* #endregion State Rules */

/* #region  Base Rules */

/* #endregion Base Rules */

/* #region  Layout Rules */

/* #endregion Layout Rules */

/* #region  Module Rules */

/* #region  Navbar */

header {
  height: 112px;
  position: relative;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
}

.logo_tablet {
  position: absolute;
  background-color: yellow;
  top: 0;
  left: 0;
  height: 52px;
 }

.logo_tablet > img {
  height: 77px;
  width: 120px;
}

.logo_mobile {
  position: absolute;
  background-color: orange;
  top: 0;
  left: 0;
}

.logo_mobile > img  {
  width: 63px;
  height: 37px;
}
 
a {
  text-decoration: none;
}

.black {
  display: flex;
  flex-direction: row;
  height: 32px;
  background-color: #011;
  font-size: 14px;
}

.black_left {
  background-color: #011;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  width: 65%;
}

.black_center {
  width:  125px;
}

.black_right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #011;
  width: 35%;
  text-align: center;
  align-items: center;
}

.black_left > a,
.black_right > a {
  color: white;
}

.white {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: white;
  align-items: center;
  height: 48px;
  font-size: 16px;
}

.awb {
  color: black;
}

.yellow {
  background-color: yellow;
  font-size: 16px;
  height: 30px;
  padding-left: 36px;
}

/* #endregion Navbar */



/* #region  Three Images */
main {
  height: 300px;
}
section {
  border: 2px solid red;
  align-items: center;
  text-align: center;
  
  
}

.three_im {
  display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 263px 263px;
    gap: 10px;
    box-sizing: content-box;
    position: relative;
    margin: 0 auto;
    /* padding: 82px; */
    padding-left: 20px;
    padding-right: 20px;
    max-width: max-content;
}

.first_big_one {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
  max-width: 66%;
  height: 100%;
  
}


.first_big_two {
  grid-row: 1 / 2;
  grid-column: 2 / 2;
  min-width: 33%;
  height: 100%;
}

.first_big_three {
  grid-row: 2 / 2;
  grid-column: 2 / 2;
  min-width: 33%;
  height: 100%;
}

.article_wrapper {
  border: 1px solid black;
  background-image: url(assets/m_three_images\ three_im.jpg);
  background-size: cover;
  margin-right: 8px;
  max-width: 100%;
  height: auto;
 }

.fbo_logo {
background-image: url(assets/tnw_logo_big_white_1.jpg);

}

.fbo-date {
  
}

.article_wrapper > img {
 

}

.fbo_title {
 
}

.article_content_1 {
  
}

.ac_1 {
  
}

.fbo_ac_ul {
  
}

.fbtwo_image {
  
}

.ac_2 {
  
}

/* #endregion Three Images */

/* #region  Latest News */

.until_ln {
  margin: 75px;
}
.until_ln_2 {
  margin: 75px;
}

.latest_news {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: auto auto;
  grid-gap: 10px;
  align-items: center;
  margin: -42px auto 0 auto;
  height: 36vh;
  /* box-sizing: content-box; */
  position: relative;
  max-width: 950px;
  padding: 35px;
}


.a_latest_news {
  padding: 0;
  text-align: left;
  background-color: yellow;
  height: 194px;
  max-width: 220px;
  
}

.a_latest_news a img {
  width: 100%;
    height: auto;
    min-width: 221px;
}

.ab_latest_news {
  font-family: var(--main-font-family);
    font-size: 16px;
    margin-top: 2px;
}

span {
  font-family: var(--main-font-family);
  font-size: 13px;
  color: rgb(153, 147, 147);
}
/* #endregion  Latest News */

/* #region  Middle Box */

.latest_funding {
  padding: 120px 5%;
  display: grid;
  grid-template-columns: repeat(4, 22.5%);
  grid-gap: 20px;
}
.middle_box {
  padding: 20px 5%;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: auto auto auto;
  grid-gap: 31px;
}

/* #endregion Middle Box*/



/* #endregion Module Rules */

/* #region  Component Rules */

.bef_latest_deals {
  padding: 20px 10% 20px 6%;
  display: flex;
  justify-content: space-between;
  color: red;
  font-weight: 800;
}

.latest_deals {
  padding: 20px 5%;
  display: grid;
  grid-template-columns: repeat(4, 22.5%);
  grid-template-rows: auto auto;
  grid-gap: 20px;
}

/* #endregion  Component Rules */

/* #region  Footer */

footer {
  color: whitesmoke;
  text-align: center;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  }
 
 ul {
   list-style: none;
  }
 
 .social_icons {
   padding: 12px;
 }
 
 .social_icons i:hover {
   background-color: #141414;
 }

 .foot_menu {
  padding: 12px;
 }
 
 a {
  text-decoration: none;
  color: whitesmoke;
 }

 .footer_top {
   background-color: #0f0f0f;
   margin: 0 auto;
   padding: 20px 0;
   height: 155px;
   line-height: 2.5em;
 }
 
 .social,
 .menu_bottom {
   display: flex;
   flex-direction: row;
   justify-content: center;
   font-size: 20px;
  }

 .social_icons > i {
   background: #333;
   border-radius: 50%;
   display: block;
   height: 35px;
   padding: 10px;
   text-align: center;
   width: 35px;
   cursor: pointer;
   border: 1px solid #011;
 }

 .footer_bottom {
   padding: 48px;
   background: #000;
   color: #aaa;
   font-size: 20px;
   text-align: center;
  }

 .image_svg {
  width: 58px;
  height: 21px;
 }

 b {
   color: rgb(163, 36, 36);
 }
 
 
/* #endregion  Footer */

/* #region  Media Queries */

@media only screen and (min-width: 1024px) {
  body {
    background-color: lightgreen;
  }

  .logo_tablet {
    display: none;
    visibility: hidden;
  }

  .logo_mobile {
    display: none;
    visibility: hidden;
  }

  .menu {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  body {
    background-color: pink;
  }

  .logo_mobile {
    visibility: hidden;
  }

  .black,
  .white {
    padding-left: 130px;
  }

  .black_right,
  .awb-1 {
    display: none;
  }

  .white {
    font-size: 14px;
  }

  .menu {
    visibility: hidden;
  }

  .fbo-date {
    display: none;
  }

  .article_content_1 {
    line-height: 1;
  }

  .ac_1 {
    font-family: var(--main-font-family);
    font-size: 19px;
    color: #FFFFFF;
    width: 25vh;
  }

  .latest_news,
  .latest_funding,
  .latest_deals {
    grid-template-columns: repeat(3, 1fr);
  }

  .a_latest_news > img {
    width: 213px;
  }

  .middle_box {
    grid-template-columns: repeat(2, 1fr);
  }
  .menu_bottom {
    font-size: 13px;
  }

  .footer_bottom {
    font-size: 16px;
  }

}

@media only screen and (max-width: 320px) {
  body {
    background-color: lightblue;
  }

  .logo_tablet {
    display: none;
  }

  .logo_mobile {
    visibility: visible;
    top: 0;
  }
  
  .black,
  .awb {
    display: none;
  }

  .white {
    justify-content: space-evenly;
    height: 40px;
  }

  .menu {
    visibility: visible;
    color: red;
  }

  .yellow > a {
    font-size: 10px;
  }
  
  .three_im {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "a"
                         "b";
  }

  .first_big_three {
    display: none;
  }

  .ac_1 {
    font-family: var(--main-font-family);
    font-size: 20px;
    color: #FFFFFF;
  }

  .latest_news,
  .latest_funding,
  .middle_box,
  .latest_deals {
    grid-template-columns: 1fr;
  }

   .social_icons {
   padding: 4px;
   }

   .rss {
     display: none;
   }

   .foot_menu {
     font-size: 13px;
     font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
     padding: 7px;
   }
   
 .image_svg {
  width: 28px;
  height: 17px;
 }
}



/* #endregion Media Queries*/
