
/* #region Defaiult Resets */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* #endregion Default Resets */

/* #region  Global Variables */
:root {
  --main-bg-color: rgb(255, 68, 34);
  --second-bg-color: #feecea;
  --footer-color: #141414;
  --main-font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  --main-line-height: 22.5px;
}

/* #endregion Global Variables */

body {
  border: 5px solid white;
  margin: 0;
}

* {
  box-sizing: border-box;
  border: 1px solid black;
}

header {
  height: 300px;
}
.logo_tablet {
  grid-area: a;
}
.logo_mobile {
  grid-area: b;
}
.black {
  display: flex;
  flex-direction: row;
  color: white;


}
.black_left {
  background-color: blue;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  width: 65%;
}
.black_right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: red;
  width: 35%;
  text-align: center;
  align-items: center;

}
.white {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}
.far {
  
}
.fas {
  
}


.navbar {
  display: flex;
  flex-direction: column;
}
  
.yellow {
  background-color: yellow;
}

/* #region  Utility Classes */

/* #endregion Utility Classes */

/* #region  State Rules */

/* #endregion State Rules */

/* #region  Base Rules */

/* #endregion Base Rules */

/* #region  Layout Rules */

/* #endregion Layout Rules */

/* #region  Module Rules */

/* #region  Navbar */

/* #endregion Navbar */


/* #region  Three Images */

/* #endregion Three Images */

/* #region  Latest News */

/* #endregion  Latest News */

/* #region  Middle Box */


/* #endregion Middle Box*/

/* #endregion Module Rules */

/* #region  Component Rules */



/* #endregion  Component Rules */



/* #endregion  Footer */

/* #region  Media Queries */

@media only screen and (min-width: 1024px) {
  body {
    background-color: lightgreen;
  }
}

@media only screen and (max-width: 768px) {
  body {
    background-color: pink;
  }
}

@media only screen and (max-width: 320px) {
  body {
    background-color: lightblue;
  }

}



/* #endregion */
